# See smb.conf.example for a more detailed config file or
# read the smb.conf manpage.
# Run 'testparm' to verify the config is correct after
# you modified it.

[global]
        # https://wiki.samba.org/index.php/Configure_Samba_to_Work_Better_with_Mac_OS_X
        min protocol = SMB2
        ea support = yes
        vfs objects = fruit streams_xattr
        fruit:metadata = stream
        fruit:model = MacSamba

        fruit:veto_appledouble = no
        fruit:posix_rename = yes
        fruit:zero_file_id = yes
        fruit:wipe_intentionally_left_blank_rfork = yes
        fruit:delete_empty_adfiles = yes

        workgroup = SAMBA
        security = user
        passdb backend = smbpasswd

        # Disable printing
        # https://serverfault.com/questions/207510/how-do-you-disable-smb-printing-support
        load printers = no
        printing = bsd
        printcap name = /dev/null
        disable spoolss = yes

[{{ timecapsule_share_name }}]
        vfs objects = fruit streams_xattr
        fruit:time machine = yes
        path = {{ timecapsule_folder }}
        valid users = {{ timecapsule_username }}
        read only = no